<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
</head>
<style type="text/css">
body {
  font-family: arial, sans-serif;
  text-align:center
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;>
}
</style>
<body>
<h1>Learn the truth!</h1>

<table align="center">
  <tr>
    <td>Sentence</td>
    <td>{{ text }}</td>
  </tr>
  <tr>
    <td>Sincere</td>
    <td>{{ sincere }}</td>
  </tr>
  <tr>
    <td>Prediction</td>
    <td>{{ pred }}</td>
  </tr>
</table>

</body>
</html>
